---
//component imports
import Header from "../../components/Header.astro"
import Metahead from "../../components/Metahead.astro"

//build-specific frontmatter
import * as fs from "fs";

export async function getStaticPaths(){
  let albums = fs.readdirSync(import.meta.env.PUBLIC_ALBUMS);

    console.log("album pages generated:")
    console.log(albums)
    
    let paths = []
    for(let item of albums){
      paths.push({params: { album: item}});
    }
    return paths;
}

const {album} = Astro.request.params;

function getImages(){
  let albumPath = import.meta.env.PUBLIC_ALBUMS + "/" + album;
  let images = fs.readdirSync(albumPath);

  albumPath = albumPath.slice(1)
  return images.map(picture => albumPath + "/" + picture)
}

const imagePaths = getImages()
---

<html lang="en">
  <head>
    <Metahead title ={album.toUpperCase() + " - Markus Lanz"} styles="/src/styles/album.scss"/>
  </head>
  <body>
    <Header/>
    <h1>this is an album!</h1>
    <h2>specifically: {album}</h2>
    <div class="gallery">
      {imagePaths.map(path => <img src={path} class="picture" />)}
    </div>
  </body>
</html>
