//picture gallery styles
.picture {
  width: 100%;
  height: 100%;
  max-height: 300px;
  aspect-ratio: auto;
  object-fit: cover;
  transition: all 0.5s;
  &:hover {
    transform: scale(110%);
  }
}

.gallery {
  --width: 20vw;
  --height: calc(var(--width) * 0.8);
  display: grid;
  gap: calc(var(--height) * 0.05);
  grid-template-columns: repeat(3, var(--width));
  grid-auto-rows: var(--height);
  max-width: 100%;
}

.gallery > * {
  aspect-ratio: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(0, 0, 0, 0.9);
  transition: all 0.5s;
}

.modal-close {
  position: fixed;
  z-index: 105;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal-image {
  z-index: 110;
  aspect-ratio: auto;
  height: clamp(0px, 80%, 100%);
}

.modal-image-fullscreen {
  position: fixed;
  top: 0;
  height: 110vh;
  aspect-ratio: auto;
  z-index: 110;
}

.invisible {
  opacity: 0;
}

//for mobile devices
@media only screen and (max-width: 1200px) and (orientation: "portrait") {
  .gallery {
    --width: 30vw;
  }
  .modal-image {
    z-index: 110;
    aspect-ratio: auto;
    width: clamp(0px, 80%, 100%);
    height: auto;
  }

  .modal-image-fullscreen {
    position: relative;
    width: 100%;
    aspect-ratio: auto;
    height: auto;
  }
}

@media only screen and (max-height: 700px) and (orientation: "landscape") {
  .modal-image {
    position: fixed;
    top: 0;
    height: 110vh;
    aspect-ratio: auto;
    z-index: 110;
  }
}
