---
import Metahead from "../components/Metahead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Slideshow from "../components/Slideshow.tsx"
import PictureLinkGallery from "../components/PictureLinkGallery.astro"

import * as fs from "fs";
function getFrontPageSlides():string[] {
  let location = import.meta.env.PUBLIC_FRONT_PAGE_SLIDES

  let slides = fs.readdirSync(location);
  
  location = location.slice(8)
  slides = slides.map(each => location + "/" + each)
  
  return slides
}

function getMidpagePictures():string[] {
  let location = import.meta.env.PUBLIC_MIDPAGE_PICTURES
  let slides = fs.readdirSync(location);
  
  location = location.slice(8)
  slides = slides.map(each => location + "/" + each)
  
  return slides
}

function getLanzLiveSlides():string[] {
  let location = import.meta.env.PUBLIC_LANZ_LIVE_SLIDES

  let slides = fs.readdirSync(location);
  
  location = location.slice(8)
  slides = slides.map(each => location + "/" + each)
  
  return slides
}


let frontPageSlides:string[] = getFrontPageSlides()
let midpagePictures:string[] = getMidpagePictures()
let lanzLiveSlides:string[] = getLanzLiveSlides()
---
<html lang="en">
  <head>
    <Metahead title="Willkommen auf der offiziellen Website" styles="/src/styles/index.scss" />
  </head>
  <body>
    <Header/>
    <section class="section" id="Willkommen">
      <div class="slider">
        <Slideshow client:load time={3000} slides={frontPageSlides}/>
        <img src="/Autogramm.png" alt="..." class="autograph">
      </div>
        
      <div id="introduction">
        <div class="innerSection">
          <h1 id="name">Markus Lanz</h1>
          <h3>– Journalist Moderator Fotograf Autor –</h3>
          <p id="introduction">Willkommen auf meiner offiziellen Homepage! Hier geht es vor allem um Fotografie. Seit mehr als 15 Jahren beschäftige ich mich intensiv damit und will Ihnen hier Einblick in einige meiner Arbeiten und Studien der letzten Jahre geben. Darüber hinaus halte ich Sie hier über anstehende Bühnen- und Multivisionsshows, Veranstaltungen, neue Projekte und besondere Sendetermine auf dem Laufenden.</p>
        </div>
      </div>
    </section>

    <section class="section" id="Aktuelles">
      <div class="innerSection">

        <h3>Aktuelles</h3>
        <a href="https://www.zdf.de/gesellschaft/markus-lanz" target="_blank">
          <img src="/ZDF_Cornerlogo.png"/>
        </a>
        <h4>"LANZ & PRECHT" – Der Podcast</h4>
        <p>
          Immer <strong>frietags</strong>, auf allen gängigen 
          <a href="https://lanz-precht.podigee.io/" target="_blank" class="strong">
            Podcast-Plattformen 
          </a>
          und in der 
          <a href="https://www.zdf.de/gesellschaft/markus-lanz/presse-podcast-lanz-und-precht-100.html" target="_blank" class="strong">
            ZDF-Mediathek
          </a>
        </p>
        <img class="bird" src="https://markuslanz.de/wp-content/uploads/2021/11/Greifvogel-2-1536x1024.jpg" />
        <a href="https://www.zdf.de/gesellschaft/markus-lanz" target="_blank">
          <img src="/ZDF_Cornerlogo.png"/>
        </a>
        <h4>“Markus Lanz” – Talkshow</h4>
        <p><strong>
          Dienstags
        </strong> bis <strong>
          donnerstags ab 22:45 Uhr // ZDF
        </strong>
        </p>
        <p>Bei “Markus Lanz” begrüße ich dreimal wöchentlich Gäste aus Politik, Wirtschaft und Unterhaltung.</p>
        <p>
          Mehr Informationen dazu <a href="https://www.zdf.de/gesellschaft/markus-lanz" target="_blank">
            <strong>hier</strong>
          </a>
        </p>
        <div class="spacer"/>
        <h4><strong>
          Reportage: “Markus Lanz – Schweden ungeschminkt”
        </strong></h4>
        <p><a href="https://www.zdf.de/gesellschaft/markus-lanz/markus-lanz--schweden-ungeschminkt-vom-11-maerz-2021-100.html" target="_blank"><strong>(in voller Länge ansehen)</strong></a></p>
      </div>
    </section>

    <section class="section" id="Fotoprojekte">
      <h3>Fotoprojekte</h3>
      <PictureLinkGallery />
    </section>
    <section class="section" id="Lanz-Live">
      <h3>Vorträge und Moderation</h3>
      <div class="slider" id="lanz-live-slider">
        <Slideshow client:load time={3000} slides={lanzLiveSlides}/>
      </div>
      <h4 class="strong">Multivisionsvortrag</h4>
      <h4 id="header-with-space">“Grönland – meine Reisen ans Ende der Welt”</h4>
      <h4 class="strong">Trailer:</h4>
      <video controls poster="/trailer_poster.jpg">
        <source type="video/mp4" src="/trailer.mp4"/>
      </video>
    </section>
    <section class="section" id="Kontakt">
      <h3 id="Kontakt">Kontakt Management</h3>
      <div class="greyArea">
        <div class="half">
          <img id="portrait" src="/portrait.jpg" />
          <span>Anfragen für Moderationen, Multivisionsvorträge,</span>
          <span>Keynote Speeches oder Presse an:</span>
          <h2>info@markuslanz.de</h2>
          <span class="spacedText">Kontakt:</span>
          <strong class="spacedText">Büro Markus Lanz</strong>
          <span class="spacedText">c/o Lucas Raßbach</span>
        </div>
      </div>
    </section>
    <div class="footer">
      <Footer/>
    </div>
  </body>
</html>
