<div class="footer">
    <img src="public/Autogramm.png" class="bottom-autograph">
    <a href="/impressum" class="bottom-link">Impressum</a>
    <div class="divider"/>
</div>
<style >
.footer {
  width: 100%;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-autograph {
  width: 25%;
  transform: scale(50%);
}

.bottom-link {
  color: #a2a2a2;
}

.divider {
  height: 0.5px;
  background-color: white;
  width: 60%;
  margin: 100px 0;
}

</style>