---
let {title, styles} = Astro.props;
---
<!-- elements set via props -->
<title>{title}</title>
<link rel="stylesheet" href={styles}>
<!-- meta links -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/Favicon_MarkusLanz.png" />
<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">